body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

  .main-box {
    border: 2px solid #333;
    padding: 20px;
    background-color: white;
  }
